html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    width: 100%;
    padding: 32px 5%;
    box-sizing: border-box;
    height: 720px;
    /* background-color: lightblue; */
    background-image: url(python.png);
    background-repeat: no-repeat;
    /* background-size: cover;
    /* background-size: contain; */
    /* background-position: center;
    background-position: left;
    background-position: right;
    background-position: top;
    background-position: bottom;
    background-position: top left;
    background-position: bottom left;
    background-position: top right; */
    background-position: bottom right;
}

nav {
    text-align: center;
}

nav span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 0 16px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;

}