/* body {
    margin: 0;
}

#container {
    width: 100vw;
    height: 700px;
    background-color: lightblue;
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: flex-start;
    align-items: flex-end;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: center;
    align-content: stretch;
    align-content: flex-end;
    align-content: flex-start;
    align-content: space-around;
    align-content: space-between;
    align-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-content: flex-start;
    align-content: flex-end;
    align-content: space-around;
    align-content: space-evenly;
    align-content: space-between;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.item {
    background-color: lightcoral;
    margin: 0px 16px 16px 0px;
    padding: 32px;
    font-size: 24px;
    text-align: center;
} */

body {
    margin: 0px;
}

#container {
    display: flex;
    background-color: lightblue;
    box-sizing: border-box;
    padding: 2em;
    width: 100vw;
    height: 400px;
}

.item {
    background-color: lightcoral;
    margin: 0px 16px 16px 0px;
    padding: 2em;
    font-size: 24px;
    text-align: center;
    /* flex-grow: 1; */
    flex-basis: 120px;
}

/* .item:nth-child(2) {
    background-color: bisque;
    flex-grow: 0;
    flex-shrink: 2; 
    order: -1;
    order: 1;
} */

.item:nth-child(even) {
    background-color: bisque;
    align-self: flex-end;
}

.item:nth-child(odd) {
    align-self: flex-start;
}