/* #he1 {
    background-color: lightblue;
    height: 100px;
    width: 200px;
}

#he2 {
    background-color: lightcoral;
    height: 100px;
    width: 200px;
    display: inline-block;
} */

body {
    margin: 0;
}

header {
    background-color: lightblue;
    height: 100px;
    position: sticky;
    top: 0%;
}

main {
    padding: 20px 10%;
}

aside {
    background-color: lightcoral;
    height: 500px;
    width: 30%;
    display: inline-block;
    margin-right: 0.65%;
}

section {
    background-color: burlywood;
    height: 500px;
    width: 69%;
    display: inline-block;
}

footer {
    background-color: lightgray;
    height: 300px;
}