#top_bar {
    background-color: white;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 62px;
    padding: 12px 80px;
    box-sizing: border-box;
    /* z-index: 10;
    position: relative; */
    position: fixed;
    top: 0;
    left: 0;
}

#logo {
    color: #0084ff;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 700;
    margin-right: 48px;
}

.menu_things {
    margin: 0;
    margin-right: 24px;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    top: -5px;

}

#wrapper {
    width: 100%;
    height: 1000px;
    /* width: 300px;
    height: 300px;  */
    background-color: lightblue;
    padding-top: 200px;
    /*margin: 80px 0px 0px 80px; */
    /* position: relative; */
}

#wrapper img {
    background-color: lightcoral;
    height: 300px;
    width: 300px;
    /* margin-top: 60px;
    position: static;
    top: 100px;
    bottom: 100px; 
    position: relative;
    top: 36px;
    right: -16px;
    left: -32px;
    bottom: 32px; */
    /* position: absolute;
    top: 0;
    left: 0; */
    /* bottom: 0;
    right: 0; */
    position: sticky;
    top: 65px;
}