#article_wrapper1 {
    padding: 18px;
    margin: 36px 0 36px 0;
    font-size: 24px;
    line-height: 1.4;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px #aaa;
}

#article_wrapper2 {
    padding: 18px;
    margin: 36px 0 36px 0;
    font-size: 24px;
    line-height: 1.4;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px #aaa;
}

/* article>p::first-line {
    color: aqua;
    background-color: lightcoral;
    word-spacing: 3px;
    letter-spacing: 2px;
}

article>p::first-letter {
    color: white;
    background-color: black;
    word-spacing: 3px;
    letter-spacing: 2px;
} 

article>p::selection {
    color: white;
    background-color: black;
} */

article>p::before {
    content: url(small\ image.png);
}

article>p::after {
    content: url(small\ image.png);
}